* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }

  a {
    text-decoration: none;
    color: #9be4abc9;
    font-weight: bold;
    transition: color .1s;
  }

  a:hover {
    color:#9be4abc9;
  }

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  } 