* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background-color: #c6d9c0;
  }

  a {
    text-decoration: none;
    color: #a5e7b5c9;
    font-weight: bold;
    transition: color .1s;
  }

  a:hover {
    color:#9be4abc9;
  }

  button {
    background-color: #881409;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #65b89d;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3670b6;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
      width: 100%;
      min-height: 100%;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #1a0e09;
  
  }
  
  header h1 {
    font-size: 1.4em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #c6d9c0;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #bf5f56;
  }
  
  .delete-post-btn:hover {
    background-color: #65b89d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .post h2 {
    font-size: 120%;
  }
  
  .post .meta, 
  .edit-link {
    opacity: 0.8;
  }
  
  .meta a, 
  .edit-link {
    color: #bf5f56;
  }
  
  .meta a:hover,
  .edit-link:hover {
    color: #65b89d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .edit-anc {
    color: #bf5f56;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;  
  }
  
  
  .comment:nth-child(odd) {
    background-color: rgba(191, 95, 86, 0.5);
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  li {
    border: 2px solid #1a0e09;
    padding: 0% 2% 0% 3%;
    margin: 10px;
    list-style: none;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    background-color: #1a0e09;
    color: #b6e4a8;
  }